@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
  }
}

:root {
  --square-size: 10px;
  --square-gap: 3px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
}

.days {
  grid-area: days;
}

.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    'empty months'
    'days squares';
  grid-template-columns: auto 1fr;
  grid-gap: 6px;
}

.months {
  display: grid;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}
